
<div class="blurb">
  <p><h1> Learn Ruby on Rails! </h1><p>


  <h4>Whats Happening</h4>
  <br />
  <p>This is a one day introduction to Ruby on Rails where we will be covering the basics and then teaching in-depth how to achieve a couple of common tasks such as Ajax and integrating with a third party api.</p>

  <p>As with learning any new technology just getting started is a barrier, our goal is to get you over this.  We want you to be familiar enough with Rails so that afterwards you can continue discovering Rails at your own pace and have an understanding of what can be achieved with it.</p>


  <h4>Who is it for</h4>
  <br />
  <p>This is for people who've heard of Ruby on Rails and want to have a proper play with it where there are experienced people available to help out.  We'll be assuming you already know how to code and are working in the industry.</p>

  <h4>When & Where</h4>
  <br />
  <p>
  Saturday 10th of April - all day starting at 9am<br />
  Level 2<br />
  <%= link_to '10 Cambridge Terrace', 'http://zoomin.co.nz/?search/address/10%20Cambridge%20Terrace,%20Te%20Aro,%20Wellington' -%><br />
  Wellington
  </p>

  <h4>Why</h4>
  <br />
  <p>There is increasing interest in Ruby on Rails especially in Wellington with so may startups using it.  Big business and government are starting to take notice and are becoming more open towards non-traditional options; for instance Kiwibank's recently launched Heaps! personal budgeting web-app.</p>

  <p>We want to take advantage of this and grow the Rails community in Wellington, and what better way then teaching people about it. </p> 

  <h4>What Do you Need</h4>
  <br />
  <p>You'll need to bring your own modern laptop - Mac, Linux or Windows.  You don't need to have installed Rails before turning up as that's the first thing we'll be doing.</h4>

  <p>Note: We'll be using Rails 3 which is in the late beta stage of it's release cycle and doesn't completely work on Windows yet so we'll be providing an Ubuntu Virtual Machine for you to use with the open source virtualisation product Virtual Box.  Obviously this can be used on OSX or Linux too if you wish.</p>

  <p>Although, there is nothing wrong with wanting to get a head start.  Check out the links on the right, including a link to the source for this site (feel free to fork it and make it pretty). </p>
  <br />
  <h5> There are only <%= @remaining %> spots left, don't miss out! <h5>
  <br />
</div>

<div class="register">
  <h3> Register now! </h3>
<%form_for @registration, :method => :post do |f| %>

  <p>  <%= f.label :name, "Name:" %> 
  <%= f.text_field :name %></p.>

  <p><%= f.label :email, "Email:" %>
  <%= f.text_field :email %></p>


  <p><%= f.label :help, "Do you need help setting up Rails on your Machine?" %> </p>
  <p>Yes <%= f.radio_button :help, "yes" %> 
  No <%= f.radio_button :help, "no" %></p>

  <p><%= f.label :os, "What OS are you using?" %>
  <%= f.text_field :os %></p>
  
  <p><%= f.label :comment, "Any particular interests or requests?:" %></p>
  <p><%= f.text_area :comment, :rows => 7, :cols => 80 %> </p>

  <p><%= submit_tag %></p>

<% end %>
</div>
